.portfolio {
  padding-top: 0;
  margin-top: 0;
  margin-left: 70px;
  margin-right: 70px;
}

.section__portfolio-links {
  list-style-type: none;
  padding: 0;
}

.section__portfolio-link-box {
  padding: 19px 0;
  font-size: 30;
}

.section__portfolio-link {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 30px;
  text-decoration: none;
}
